bleach==3.0.2
certifi==2018.11.29
chardet==3.0.4
docutils==0.14
idna==2.7
numpy==1.15.4
Pint==0.9
pkginfo==1.4.2
Pygments==2.3.0
PyQt5==5.11.3
PyQt5-sip==4.19.13
pyqtgraph==0.10.0
pyserial==3.4
-e git+git@github.com:aquilesC/SimpleDaq.git@a9a8daad27bdfec457147dbe4d7cad74485d4ff6#egg=PythonForTheLab
PyYAML==3.13
readme-renderer==24.0
requests==2.20.1
requests-toolbelt==0.8.0
sip==4.19.8
six==1.11.0
tqdm==4.28.1
twine==1.12.1
urllib3==1.24.1
webencodings==0.5.1
